tab-title {
  padding: .5rem;
  border:none;
  background-color: #ccc;
  margin: 0 3px;
}

tab-title[active] {
  background-color: #fff;
  
}

tab-content-list{
  border: none;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

tab-content {
  padding: 1rem;
  border-radius: .5rem;
}

user-detail {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  height: fit-content;
}
